# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
